body{
  overflow: hidden;
  margin:20px;
}

#renderCanvas{
  width:95%;
  height:50%;
  border: 1px solid black;
  z-index:0;
}

#controlsdiv{
  margin-bottom:10px;
}

#infodiv{
  position: absolute;
  top:0px;
  right:0;
  height:90%;
  overflow-y:auto;
  overflow-x:hidden;
  width: 25%;
  z-index:10;
  background-color: rgba(255, 255, 255, 0.5);
}

#searchdiv{
  position: absolute;
  display:none;
  bottom: 100px;
  z-index:10;
  background-color: white;
}